@use '../utils/variables' as *;
@use '../utils/mixins' as *;


.actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--color-background);
  color: var(--color-secondary);
  background-image: url('/src/assets/check.svg');
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0;
}

input[type="checkbox"]:checked {
  content: '';
  transform: scale(0.95);

  width: 1rem;
  height: 1rem;
  background-image: url('/src/assets/check.svg') ;
  opacity: 0.5;
}

