@use '../utils/variables' as *;
@use '../utils/mixins' as *;


* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-normal);
  color: var(--color-secondary);
  background: var(--color-primary);
}


