@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-modal-overlay);
  z-index: 1000;
  justify-content: center;
  align-items: center;

  @include respond-to(tablet) {
    width: 100%;
    padding: $spacing-xl;
  }

}

.modal-content {
  background-color: var(--color-primary);
  margin: $spacing-md auto;
  padding: $spacing-md;
  border-radius: $border-radius;

  position: relative;
  width: 100%;
  max-width: 500px;
  @include respond-to(mobile) {
    max-width: 100%;
  }


}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing-md;
}

.modal-close {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--color-secondary);
  transition: color 0.2s ease;

  &:hover {
    color: var(--color-accent);
  }
}

.input-group {
  display: flex;
  gap: $spacing-sm;
  @include respond-to(tablet) {
    @include flex-center(column, $spacing-xs);
  }
  #addButton{
      width: 25%;
      @include respond-to(mobile) {
        width: 100%;
      }

  }
}