@use '../utils/variables' as *;
@use '../utils/mixins' as *;


.top {
  padding-top: 100px;
  width: 500px;

  @include flex-center(column, $spacing-sm);
  align-items: flex-start;

  margin-left: auto;
  margin-right: auto;

  @include respond-to(tablet) {
    width: 100%;
    max-width: 432px;
  }

  @include respond-to(mobile) {
    max-width: 320px;
    align-items: center;
    padding-top: 100px;
    padding-left: $spacing-sm;
    padding-right: $spacing-sm;
  }
  margin-bottom: $spacing-md;
}

.form {
  width: 500px;
  @include flex-center(row, 0.5rem);
  justify-content: space-between;

  @include respond-to(tablet) {
    max-width: 432px;
  }

  @include respond-to(mobile) {
    max-width: 320px;
  }
}