@use '../utils/variables' as *;
@use '../utils/mixins' as *;


body.dark {
  --color-primary: #{$dark-primary-color};
  --color-secondary: #{$dark-secondary-color};
  --color-accent: #{$dark-accent-color};
  --color-accent-hover: #{$accent-hover};
  --color-success: #{$success-color};
  --color-background: #{$dark-background};
  --color-text-muted: #{$text-muted};


  --font-primary: #{$font-primary};
  --font-weight-normal: #{$font-weight-normal};

  --font-size-base: #{$font-size-base};
  --font-size-xs: #{$font-size-xs};
  --font-size-sm: #{$font-size-sm};
  --font-size-lg: #{$font-size-lg};
  --font-size-xl: #{$font-size-xl};
  --font-size-xxl: #{$font-size-xxl};

  --spacing-xs: #{$spacing-xs};
  --spacing-sm: #{$spacing-sm};
  --spacing-md: #{$spacing-md};
  --spacing-lg: #{$spacing-lg};
  --spacing-xl: #{$spacing-xl};
  --spacing-4xl: #{$spacing-4xl};

  --border-radius: #{$border-radius};


  --shadow-light: #{$shadow-light};
  --shadow-medium: #{$shadow-medium};
  --shadow-heavy: #{$shadow-heavy};

  --transition-fast: #{$transition-fast};
  --transition-medium: #{$transition-medium};
  --transition-slow: #{$transition-slow};
  --transition-slower: #{$transition-slower};

  --breakpoint-mobile: #{$breakpoint-mobile};
  --breakpoint-tablet: #{$breakpoint-tablet};
  --breakpoint-desktop: #{$breakpoint-desktop};

  --button-background: var(--color-accent);
  --button-color: var(--color-primary);
  --button-border-radius: var(--border-radius-lg);
  --button-padding: var(--spacing-xs) var(--spacing-md);
  --button-font-size: var(--font-size-sm);
  --button-transition: background-color var(--transition-fast);


}

